{extend name="common/base"/}
{block name="link"}
<link href="__STATIC__/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="__STATIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="__STATIC__/assets/plugins/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
<link href="__STATIC__/assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/assets/css/core.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/assets/css/components.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/assets/css/pages.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/assets/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/assets/plugins/sweetalert/src/sweetalert2.min.css" rel="stylesheet">
{/block}
{block name="style"}
<style>
    .bg-red-new {
        background-color: #ed5565 !important;
        color: #ffffff;
    }
    a.fc-more{
        font-size: 1.1em;
    }
    .fc-event-time, .fc-event-title {
        color: #fff !important;
    }
    .fc-view {
        margin-top: 10px !important;
    }
    .fc-state-highlight {
        background : rgb(255, 221, 221) !important;
    }
</style>
{/block}
{block name="body"}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
                <div class="card-box">
                    <div class="ibox-title">
                        <h3><a href="{:url('calendar/index')}">『{$name}』</a>--- 校历详情 </h3>
                    </div>
                    <div id="calendar"></div>
                </div>
            </div>
        <input type="hidden" id="detail" value="{$data}">
        <!-- BEGIN MODAL -->
        <div class="modal fade none-border" id="event-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><strong>添加事件</strong></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white waves-effect" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-success save-event waves-effect waves-light">创建</button>
                        <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="__STATIC__/assets/plugins/sweetalert/src/sweetalert2.min.js"></script>
<script src="__STATIC__/js/content.js?v=1.0.0"></script>
<script src="__STATIC__/js/jquery-ui.custom.min.js"></script>
<script src="__STATIC__/js/plugins/iCheck/icheck.min.js"></script>
<script src="__STATIC__/assets/js/modernizr.min.js"></script>
<script src="__STATIC__/assets/plugins/select2/select2.min.js" type="text/javascript"></script>
<script src="__STATIC__/assets/plugins/moment/moment.js"></script>
<script src='__STATIC__/assets/plugins/fullcalendar/dist/fullcalendar.js'></script>
<script src='__STATIC__/assets/plugins/fullcalendar/dist/lang/zh-cn.js'></script>
<script>
    var cId = "{$c_id}";
    var events = $("#detail").val();
    events = eval('(' + events + ')');
    var editUrl = '{:url("calendar/update",array("c_id"=>"C_id","id"=>"ID"))}';
    var addUrl = '{:url("calendar/add",array("c_id"=>"C_id","id"=>"ID","start"=>"START","end"=>"END"))}';
    var delUrl = '{:url("calendar/delete",array("c_id"=>"C_id","id"=>"ID"))}';
    editUrl = editUrl.replace("C_id",cId);
    addUrl = addUrl.replace("C_id",cId);
    delUrl = delUrl.replace("C_id",cId);
    // var calendar = new CalendarApp(events, addUrl, editUrl, delUrl);
    // calendar.init();
    $('#calendar').fullCalendar({
        slotDuration: '00:15:00', /* If we want to split day time each 15minutes */
        minTime: '06:00:00',
        maxTime: '22:00:00',
        defaultView: 'month',
        defaultDate: '{$is_in}',
        handleWindowResize: true,
        currentTimezone: 'Asia/Beijing',
        timezone: 'local',
        height: $(window).height() - 200,
        header: {
            left: 'prevYear,prev,next,nextYear today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        buttonText: { 　　　　　　　　　　　　　　　　　//设置按钮文本
            today: '今天',
            month: '月',
            week: '周',
            day: '日',
            prev: '<',
            next: '>',
            prevYear: '|<<',
            nextYear: '>>|'
            // prev: '上一月',
            // next: '下一月'
        },
        droppable: true, // this allows things to be dropped onto the calendar !!!
        selectable: true,
        editable: false,
        weekNumbers:true,
        eventLimit: true, // If you set a number it will hide the itens
        views: {
            agenda: {
                eventLimit: 3 // adjust to 6 only for agendaWeek/agendaDay
            }
        },
        drop: function (date, allDay) { // this function is called when something is dropped

            // retrieve the dropped element's stored Event Object
            var originalEventObject = $(this).data('eventObject');

            // we need to copy it, so that multiple events don't have a reference to the same object
            var copiedEventObject = $.extend({}, originalEventObject);

            // assign it the date that was reported
            copiedEventObject.start = date;
            copiedEventObject.allDay = allDay;

            // render the event on the calendar
            // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
            $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
                // if so, remove the element from the "Draggable Events" list
                $(this).remove();
            }

        },
        eventClick : function (calEvent, jsEvent, view) {
            var $this = this;
            swal("请选择","请选择您对本事件进行的下一步操作",{
                icon: "info",
                buttons: {
                    cancel: '取消',
                    delete: {
                        text: "删除",
                        className: "bg-red-new",
                        value: "delete"
                    },
                    edit: {
                        text : '编辑',
                        value :'edit'
                    }
                }
            }).then(function (value) {
                if (value === 'delete')
                    ajaxToDelete(delUrl, calEvent.id)
                else if (value === 'edit') {
                    var url = editUrl.replace("ID",calEvent.id);
                    swal.close();
                    dialog('编辑事件', url, 800, 450);
                } else {
                    swal.close();
                }
            });
        },
        /* on select */
        select : function (start, end, allDay) {
            var $this = this;
            var startD = start._d.getTime();
            var endD = end._d.getTime();
            var today = (new Date()).getTime();
            if(startD < today)
            {
                swal("提示", "所选时间应在当前时间之后", "info");
                return false;
            } else {
                var url = addUrl.replace("START",startD).replace("END",endD);
                dialog('新增事件', url, 800, 550);
            }

            // $calendarObj('unselect');
        },
        events: events
    });
</script>
{/block}